<%= provide(:title,"All users") %>
<h1>All users</h1>
<ul class="media-list">
  <% @users.each do |user| %>
  <li class="media">
      <a class="pull-left" href="<%= user_path(user) %>">
        <%= gravatar_for(user,class:'gravatar media-object') %>
      </a>
      <div class="media-body">
        <%= link_to user.name, user, class:"vertical-center" %>
      </div>
  </li> 
  <% end %>
</ul>  
